<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>メインページ</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <h1>メインページ</h1>
    <div class="text-area">idは「<span id="text_id"></span>」です。</div>
    <div class="text-area">passwordは「<span id="text_password"></span>」です。</div>
    <div class="text-area">linkTokenは「<span id="text_linkToken"></span>」です。</div>

    <script src='js/mainpage.js'></script>
</body>
</html>