<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>新規登録</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <h1>新規会員登録ページ</h1>
    <div id='registration_area'>

    </div>

    <script src='js/registration.js'></script>
</body>
</html>